* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #333;
	font-family: verdana;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
}

h1 {
	color: #fff;
	text-align: center;
	font-size: 48px;
}

.panels {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 50px;
	/* perspective: 1000px; */
}

.panels li {
	position: relative;
	min-width: 25%;
	transform-style: preserve-3d;
	perspective: 1000px;
	/* transition: 0.6s; */
}

.panels li div {
	width: 100%;
	padding: 50% 0;
	text-align: center;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;

	/* backface-visibility: hidden; */

	transition: 0.6s;
}

/*// ANIMATION STYLES //*/
.panels .back {
	transform: rotateY(180deg);
	background-color: #fff;
}
.panels .front {
	position: absolute;
	top: 0;
	left: 0;
}

/* .panels:hover li {
	transform: rotateY(180deg);
} */

.panels li:hover div.front {
	transform: rotateY(180deg);
}
.panels li:hover div.back {
	transform: rotateY(360deg);
}
